@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,900;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #EEDAD1;
}
.homepage{
    height: 90vh;
}

.topSection{
    display: flex;
    justify-content: space-between;
}

.currentWeather{
    margin: 30px 30px;
    min-height: 35%;
    min-width: 60%;
    border-radius: 16px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 7%, rgba(0,212,255,1) 100%);
}

.buddy{
    margin: 30px 30px;
    min-height: 35%;
    min-width: 30%;
}
.buddy img{
    width: 100%;
}
.cards{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0px 30px 0px 30px;
}

.cards li{
    display: flex;
    justify-content: center;
    font-family: 'montserrat', sans-serif;
    font-weight: 400;
    height: 40vh;
    width: 13.8%;
    padding: 10px;
    background-color: #e5bff4d1;
    border-radius: 16px;
}
.contents{
    background: transparent;
    justify-content: center;
    list-style: none;
}
.img{
    display: flex;
    justify-content: center;
    background: transparent ;
}

.weather{
    display: flex;
    justify-content: center;
    background: transparent ;
    color: #651084;
}
.day{
    display: flex;
    justify-content: center;
    background: transparent ;
    color: #651084;
}
.temp{
    display: flex;
    justify-content: center;
    background: transparent ;
    font-size: 60px;
    font-family: 'montserrat', sans-serif;
    font-weight: 900;
    color: #651084;
}

header{
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 22px;
    color:#651084;
}
/* hover */
.logo:hover{
    cursor: pointer;
}
.searchBar .button:hover{
    cursor: pointer;
}
.currentLocation button:hover{
    cursor: pointer;
}

.searchBar{
    display: flex;
    align-items: center;
}
.searchBar input{
    font-family: 'montserrat', sans-serif;
    font-weight: 400;
    font-size: 12px;
    min-width: 40vw;
    border: 1px solid #651084;
    background: transparent;
    border-radius: 8px;
    padding: 9px 25px;
    text-transform: uppercase;
    color: #651084;
}

input::placeholder{
    text-transform: capitalize;
    color: #651084;
    font-size: 12px;
}

.searchBar button{
    width: 30px;
    height: 100%;
    border: none;
    font-size: 21px;
    padding: 0px 10px 0px 10px;
    background: transparent;
}

.currentLocation button{
    font-family: 'montserrat', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color:#F3F2EE;
    background-color: #651084;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
}
.currentWeather .weatherIcon{
    height: 250px;
    margin-top: 30px;
}
.currentWeather h1{
    font-size: 80px;
    font-family: 'montserrat', sans-serif;
    font-weight: 900;
    background: transparent;
}
.currentWeather h2{
    font-size: 45px;
    font-family: 'montserrat', sans-serif;
    font-weight: 400;
    background: transparent;
}

.details{
    font-family: 'montserrat', sans-serif;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
    background: transparent;

}
.col img{
    width: 40px;
    margin-right: 10px;
    background: transparent;
}

.humidity, .windspeed{
    font-size:16px;
    background: transparent;
}

.currentWeather{
    display: flex;
    padding: 10px;
}
.currentWeather .info{
    margin-left: 20px;
    width: 50%;
    color: #651084;
    background-color: transparent;
}
.currentWeather p{
    background: #e5bff4d1;
}
.details{
    background-color: transparent;
}
.currentWeather .imgmain{
    position: relative;
    background-color: rgba(0,0,0,0);
    height: auto;
}
.weatherIcon{
    background-color: transparent;
}
.currentWeather, .bottomSection{
    display: none;
}
.topSection{
    justify-content: center;
}

.error{
    display:none;
    margin-top: -60px;
    text-align: center;
    font-family: 'montserrat', sans-serif;
    font-weight: 400;
    color: #651084;
    font-size: 40px;
}
 @media screen and (max-width: 574px) {
    .currentWeather{
        flex-direction:column ;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
    }
    .haggu{
        display: none;
    }
    .topSection{
        align-items :center;
    }
    .details{
        justify-content: center;
    }
   #formargin{
    margin-left: 50px;
   }
   .cards{
    display: flex;
    flex-direction: column;
    align-items: center;
   }
   .cards li {
    height: 58px;
    width: 100%;
    margin: 2px 0px 2px 0px;
   }
   .contents{
    display: inline-flex;
    align-items: center;
   }
   .img{
    height: 45px;
   }
   .day{
    font-family: 'montserrat', sans-serif;
    font-weight: 900;
    font-size: 14px;
   }
   .temp{
    font-family: 'montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px; 
    margin: 0px 6px;
   }
   .weather{
    font-size: 16px;
   }
   .logo{
    font-size: 16px;
   }
   #btn{
    font-size: 11px;
    padding: 4px;
   }
   .searchBar input{
    width: 50%;
   }
   .searchBar{
    margin-right: 15px;
   }
   .currentWeather .info{
    margin: 0px;
   }
   .col img{
    width: 25px;
   }
   .col p{
    font-size: 10px;
   }
   .info h2{
    font-size: 30px;
   }
   .info h1{
    font-size: 60px;
   }
   .contents .day{
    left: auto;
   }
 }
